* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title{
    background-color: white;
    color: orange;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    
}
select{
    width: 150px;
    text-align: center;
}
body {
	background-color: blueviolet;
	text-align: center;

}
button{
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: violet;

}

h1 {
	margin-bottom: 1rem;
    color: orange;
    font-size: 3rem;
}

.container {
    max-width: 800px;
	margin: 1rem auto;
	
}

.big-q {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
    
    
    
}

.small-q {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	width:4rem;
	background-color: orange;
}
.small-q.active {
	background-color: blue;
    color: white;
}
